<div class="row col-md-12" style="float: right">
  <div class="col-md-11">&nbsp;</div>
  <button (click)="reload()" class="btn btn-primary btn-large">Reload</button>
</div>
<br>

<a class="download-zip-link" #downloadZipLink hidden></a>
<div class="row" style="margin: 20px;overflow: scroll">
  <table class="table table-striped">
    <thead>
    <tr style="width: 100%;;overflow: hidden">
      <th style="width: 5%;overflow: hidden">ID</th>
      <th style="width: 10%;overflow: hidden">Name</th>
      <th style="width: 10%;overflow: hidden">Description</th>
      <th style="width: 10%;overflow: hidden">Status</th>
      <th style="width: 15%;overflow: hidden">URLS</th>
      <th style="width: 15%;overflow: hidden">Filters</th>
      <th style="width: 10%;overflow: hidden">Total URL Count</th>
      <th style="width: 10%;overflow: hidden">Completed Count</th>
      <th style="width: 10%;overflow: hidden">Last Completed URL</th>
      <th style="width: 5%;overflow: hidden">Download Here</th>
      <th style="width: 5%;overflow: hidden"></th>
      <th style="width: 5%;overflow: hidden"></th>
    </tr>
    </thead>
    <tbody>
    <tr style="width: 100%;;overflow: hidden" *ngFor="let job of data;let i=index">
      <td style="width: 5%;overflow: hidden">{{job.id}}</td>
      <td style="width: 10%;overflow: hidden">{{job.name}}</td>
      <td style="width: 10%;overflow: hidden">{{job.description}}</td>
      <td style="width: 10%;overflow: hidden">{{job.status}}</td>
      <td style="width: 15%;overflow: hidden">{{getShortList(job.domainList)}}</td>
      <td style="width: 15%;overflow: hidden">{{getShortList(job.filterList)}}</td>
      <td style="width: 10%;overflow: hidden">{{job.totalDomains}}</td>
      <td style="width: 10%;overflow: hidden">{{job.completedDomains}}</td>
      <td style="width: 10%;overflow: hidden">{{job.lastCompletedDomain}}</td>
      <td style="width: 5%;overflow: hidden"><button style="cursor: pointer" (click)="download(job.id)">download</button> </td>
      <td style="width: 5%;overflow: hidden"><button type="button" style="cursor: pointer" (click)="viewList(job.id,job.xlsLink)">View</button> </td>
      <td style="width: 5%;overflow: hidden"><button *ngIf="job.status==='INPROGRESS' && job.id!=stopped && i==0" type="button" style="cursor: pointer" (click)="stop(job.id)">Stop</button> </td>
    </tr>
    </tbody>
  </table>
</div>