<form #f="ngForm" class="col-md-12" style="padding-top: 20px;padding-left: 50px">
    <div class="row" style="padding-top: 10px">
        <div class="col-md-2">Account Email</div>
        <div class="col-md-8"><input class="col-md-6" name="email" [(ngModel)]="email"/></div>
    </div>
    <div class="row" style="padding-top: 10px">
        <div class="col-md-2">Account Password</div>
        <div class="col-md-8"><input class="col-md-6" type="password" name="password" [(ngModel)]="password"/></div>
    </div>
    <div class="row" style="padding-top: 10px">
        <div class="col-md-2">Job Name</div>
        <div class="col-md-8"><input class="col-md-6" name="jobName" [(ngModel)]="jobName"/></div>
    </div>
    <div class="row" style="padding-top: 10px">
        <div class="col-md-2">Description</div>
        <div class="col-md-8"><input class="col-md-6" name="description" [(ngModel)]="description"/></div>
    </div>
    <input type="file" class="upload" (change)="changeListener($event.target.files)">
    <div class="row" style="padding-top: 10px">
        <div class="col-md-2">URL List</div>
        <div class="col-md-8"><textarea class="col-md-6" name="urlList" rows="4" [(ngModel)]="urlList"></textarea></div>
    </div>
    <div class="row" style="padding-top: 10px">
        <div class="col-md-2">Filter List</div>
        <div class="col-md-8"><textarea class="col-md-6" name="filterList" rows="4" [(ngModel)]="filterList"></textarea></div>
    </div>
    <div class="row" style="padding-top: 10px">
        <div class="col-md-4"><input type="checkbox" name="retrieveEmailOnly" [(ngModel)]="retrieveEmailOnly"/> <span (click)="retrieveEmailOnly=!retrieveEmailOnly">Retrieve email only contacts (Don't check if you only require personal contacts)</span></div>
    </div>
    <div class="row" style="padding-top: 10px">
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-8">
            <div class="col-md-6" style="text-align: right;padding: 0px">
                <button class="btn btn-primary" type="button" (click)="submitOrder(f.value)">Submit Job</button>
            </div>
        </div>

    </div>
</form>